@CHARSET "UTF-8";

.subnav {
	float: left;
	height: 360px;
	width: 180px;
	background: #63a1b4;
	margin-top: 182px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-radius: 5px;
}
.subnav li{
	border-bottom: 1px solid #eee;
	height: 44px;
}
.subnav li a:hover {
    color: #00ff00;
    background: #176c86;
}
.subnav li a {
    display: block;
    height: 44px;
    line-height: 44px;
    text-indent: 71px;
    color: #ffffff;
}
header{
	float:left;
}
article{
	float:left;
}